<ion-card mode="ios">
  <ion-card-header>
    <div class="header-info">
      <ion-card-title>{{ product.product_name }}</ion-card-title>

      <ion-icon
        *ngIf="!userFavorite"
        color="primary"
        size="large"
        name="star-outline"
        (click)="setFavorite()"
      ></ion-icon>

      <ion-icon
        *ngIf="userFavorite"
        color="primary"
        size="large"
        name="star"
        (click)="deleteFavorite()"
      ></ion-icon>
    </div>
    <hr />
  </ion-card-header>

  <ion-card-content>
    <img
      src="https://openfoodfacts-images.s3.eu-west-3.amazonaws.com/data/{{
        product.idPhoto
      }}/1.jpg"
    />

    <div class="infoProduct">
      Brand: {{ product.brands }}
      <br />
      Completado: {{ product.completeness * 100 | number : "1.0-0" }} %

      <div class="allergens">
        <img
          class="allergens-img"
          *ngFor="let allergen of product.allergens_tags"
          [src]="getAllergens(allergen)"
        />
      </div>
    </div>
  </ion-card-content>
</ion-card>
