<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <app-back-button></app-back-button>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="userForm" (ngSubmit)="saveChanges()">
    <div class="container-profile">
      <div class="user-info">
        <ion-icon color="primary" name="person-circle-outline"></ion-icon>

        <ion-list>
          <ion-item>
            <ion-input
              label="Name"
              labelPlacement="stacked"
              placeholder="Enter text"
              formControlName="name"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-input
              label="Email"
              labelPlacement="stacked"
              placeholder="Enter text"
              formControlName="email"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-input
              label="Phone Number"
              labelPlacement="stacked"
              placeholder="Enter text"
              formControlName="phoneNumber"
            ></ion-input>
          </ion-item>
        </ion-list>
      </div>

      <div class="user-allergens">
        <div
          class="image-container"
          *ngFor="let al of allergens"
          [class.disabled]="!editMode || al.disabled"
          (click)="!editMode || (al.disabled = !al.disabled)"
        >
          <img
            [ngClass]="al.disabled ? 'filter-gray' : ''"
            [src]="'../../../assets/icon/allergens/' + al.path"
          />
          <div class="overlay" *ngIf="!editMode"></div>
        </div>
      </div>

      <div class="btn-container">
        <ion-button *ngIf="!editMode" (click)="editMode=true"
          >Editar</ion-button
        >
        <ion-button
          type="submit"
          *ngIf="editMode"
          (click)="editMode=false"
          class="outline-primary"
          fill="outline"
        >
          Guardar
        </ion-button>
      </div>
    </div>
  </form>
</ion-content>
