<app-menu idmenu="main-content"></app-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button color="primary"></ion-menu-button>
      </ion-buttons>
      <ion-icon
        slot="end"
        name="search"
        color="primary"
        (click)="showSearchModal = true"
      ></ion-icon>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <h2>{{query ? "Productos filtrados": "Últimos productos"}}</h2>

    <app-product-card
      *ngFor="let product of listOfProducts"
      [product]="product"
    ></app-product-card>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Cargando más..."
      ></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>
</div>

<app-search-modal
  [isOpen]="showSearchModal"
  (onModalClose)="onModalClose($event)"
></app-search-modal>
